body {
    background-color: black;
}
header {
    background-color: red;
    border: 1px solid white;
    min-width: ;
}
.pages button {
    margin: -2px;
    border: 1px solid white;
    background-color: red;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    padding: 16px 24px;
    cursor: pointer;
    text-decoration: none;
}
button:hover {
    background-color: rgb(199, 0, 0);
}
button.current {
    border: 3px solid white;
}
.secret {
    opacity: 0;
}
.secret:hover{
    opacity: 0.2
}
