body {
    background-color: black;
}
button {
    margin: auto;
    border: 1px solid white;
    background-color: red;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 24px;
    transition: all 200ms ease;
    cursor: pointer;
    text-decoration: none;
}
button:hover {
    opacity: .8;
}
.current {
    border: 3px solid white;
}
